<%- include('header');  -%>

<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi numquam vel qui adipisci unde, voluptatem eius neque
  quo vero omnis quos similique quasi magni explicabo sequi quae ab, voluptate earum?</p>

<%- include('footer'); -%>